In [1]:
import pandas as pd
import yfinance as yf
from FinMind.data import DataLoader
import matplotlib.pyplot as plt
import mplfinance as mpf
import matplotlib as mpl

In [ ]:
from FinMind.data import DataLoader
api = DataLoader()
df = api.taiwan_stock_info() # 取得台灣股票資訊

2025-11-27 19:18:26.147 | INFO     | FinMind.data.finmind_api:get_data:158 - download Dataset.TaiwanStockInfo, data_id:

In [19]:
df.columns

Index(['industry_category', 'stock_id', 'stock_name', 'type', 'date'], dtype='object')

In [21]:
df.head()

  industry_category stock_id stock_name  type        date
0               光電業     3629       地心引力  tpex  2020-06-03
1            電子零組件業     5481         新華  tpex  2020-06-03
2             文化創意業     3687        歐買尬  tpex  2020-06-03
3          電腦及週邊設備業     5450        寶聯通  tpex  2020-06-03
4             其他電子類     6238         勝麗  tpex  2020-06-13

In [18]:
filtercondition = (df['industry_category'].str.contains('ETF')) & (df['stock_name'].str.contains('正2'))

df[filtercondition]['industry_category'].value_counts()

industry_category
ETF    26
Name: count, dtype: int64

In [38]:
# [i for i in range(1, 101) if (i & 1) == 0] # 偶數陣列
# [i for i in range(1, 101) if (i & 1) != 0] # 奇數陣列
# [i + 1 for i in range(100)] # 1 - 100的陣列

# 巢狀迴圈
[f'{i} * {j} = {i * j}' for i in range(1, 10) for j in range(1, 10)]

['1 * 1 = 1',
 '1 * 2 = 2',
 '1 * 3 = 3',
 '1 * 4 = 4',
 '1 * 5 = 5',
 '1 * 6 = 6',
 '1 * 7 = 7',
 '1 * 8 = 8',
 '1 * 9 = 9',
 '2 * 1 = 2',
 '2 * 2 = 4',
 '2 * 3 = 6',
 '2 * 4 = 8',
 '2 * 5 = 10',
 '2 * 6 = 12',
 '2 * 7 = 14',
 '2 * 8 = 16',
 '2 * 9 = 18',
 '3 * 1 = 3',
 '3 * 2 = 6',
 '3 * 3 = 9',
 '3 * 4 = 12',
 '3 * 5 = 15',
 '3 * 6 = 18',
 '3 * 7 = 21',
 '3 * 8 = 24',
 '3 * 9 = 27',
 '4 * 1 = 4',
 '4 * 2 = 8',
 '4 * 3 = 12',
 '4 * 4 = 16',
 '4 * 5 = 20',
 '4 * 6 = 24',
 '4 * 7 = 28',
 '4 * 8 = 32',
 '4 * 9 = 36',
 '5 * 1 = 5',
 '5 * 2 = 10',
 '5 * 3 = 15',
 '5 * 4 = 20',
 '5 * 5 = 25',
 '5 * 6 = 30',
 '5 * 7 = 35',
 '5 * 8 = 40',
 '5 * 9 = 45',
 '6 * 1 = 6',
 '6 * 2 = 12',
 '6 * 3 = 18',
 '6 * 4 = 24',
 '6 * 5 = 30',
 '6 * 6 = 36',
 '6 * 7 = 42',
 '6 * 8 = 48',
 '6 * 9 = 54',
 '7 * 1 = 7',
 '7 * 2 = 14',
 '7 * 3 = 21',
 '7 * 4 = 28',
 '7 * 5 = 35',
 '7 * 6 = 42',
 '7 * 7 = 49',
 '7 * 8 = 56',
 '7 * 9 = 63',
 '8 * 1 = 8',
 '8 * 2 = 16',
 '8 * 3 = 24',
 '8 * 4 = 32',
 '8 * 5 = 40',
 '8 * 6 = 48',
 '8 * 7 = 56',
 '8 * 8 = 64',
 '8 * 9 = 72',
 '9 * 1 = 9',
 '9 * 2 = 18',
 '9 * 3 = 27',
 '9 * 4 = 36',
 '9 * 5 = 45',
 '9 * 6 = 54',
 '9 * 7 = 63',
 '9 * 8 = 72',
 '9 * 9 = 81']